@import url(https://fonts.googleapis.com/css?family=Mallanna);

* {
  font-family: 'Mallanna', sans-serif;
  font-size: 1em;
}

body {
	background: url('http://www.clipartsfree.net/svg/simple-clouds_Clipart_svg_File.svg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.location {
	display: flex;
	align-items: center;
	height: 90vh;
	margin-top: 10px;
	margin-bottom: 10px;
    background: rgba(255,255,255,0.4);
    border-radius: 5%;
}

#forecast {
	margin: auto auto;
	width: 100%;
}

#location {
	font-size: 2em;
}

.weather {
	display: flex;
	slign-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
    background: rgba(255,255,255,0.4);
    border-radius: 5%;
    height: 90vh;
    font-size: 1.5em;
}

#weather-content {
	margin: auto auto;
	width: 100%;
}

img {
	width: 100px;
	height: 100px;
}

.footer {
	background-color: #FAE100;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .location {
      height: 45vh;
    }
    
    .weather {
      height: auto;
      padding: 20px;
    }
    .footer {
      display: none;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .location {
      height: 45vh;
    }
    
    .weather {
      height: 45vh;
      padding: 20px;
    }
}