@import url(https://fonts.googleapis.com/css?family=Mallanna);
html {
	height: 100vh;
}

* {
  font-family: 'Mallanna', sans-serif;
  font-size: 1em;
}

.main {
	margin: auto auto;
  padding: 0 20px;
  width: 100%;
  background: url('http://www.clipartsfree.net/svg/simple-clouds_Clipart_svg_File.svg');
}

.location {
	display: flex;
	align-items: center;
  margin: 20px;
  height: 60vh;
  background: rgba(255,255,255,0.4);
  border-radius: 5%;
}

.weather {
  margin: 20px;
  background: rgba(255,255,255,0.4);
  border-radius: 5%;
  height: 90vh;
}

img {
	width: 100px;
	height: 100px;
}

.footer {
	background-color: #FAE100;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}